
.navbar-nav {
    margin-right: 4rem;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 3rem;
}

.navbar {
    border-bottom: 1px solid gray;
    z-index: 1;
}

.logo {
    margin-left: 7rem;
}

section {
    position: relative;
    margin-bottom: 150px;
}

section:first-of-type {
    min-height: 100vh;
}

#video {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('Assets/sample1.jpg');
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; 
    margin: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video .content {
    width: 750px;
    color: #f0f0f0;
    text-align: center;
}

#video .content p {
    text-align: justify;
}

#video .content .btn {
    background-color: #a88a56;
    text-transform: uppercase;
    color: #f0f0f0;
    padding: 10px 40px
}

footer {
    background-color: #16202a;
    padding: 50px;
    color: #f0f0f0;
    min-width: 100%;
    text-align: center;
}